<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<link rel="stylesheet" href="${pageContext.request.contextPath}/css/homepageListProdcutStyle.css">
<%@ include file="../attributes/homepageListProdcutAttributes.jsp" %>

<section class="section-products">
    <div class="container">
        <div class="row">
            <% if(!products.isEmpty()) {
                for(ProductBeans p : products) { %>
                    <div class="col-md-2 col-lg-3 col-xl-3">
                        <div class="single-product">
                            <div class="part-1">
                                <img src="<%= request.getContextPath() %>/productImg/<%= p.getProduct_imgUrl() %>" alt="<%= p.getProduct_name() %>">
                                <ul>
                                    <li><a href="<%= request.getContextPath() %>/BasketController?action=ADD&id=<%=p.getProduct_id()%>" class="cart-btn"><i class="fas fa-shopping-cart"></i></a></li>
                                    <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                    <li><a href="#"><i class="fas fa-plus"></i></a></li>
                                    <li><a href="<%= request.getContextPath() %>/ProductController?action=DETAILS&id=<%=p.getProduct_id()%>"><i class="fas fa-expand"></i></a></li>
                                </ul>
                            </div>
                            <div class="part-2">
                                <div class="product-name-title"> <%=p.getProduct_name() %> </div>
                                <div class="product-category-title"><%=p.getCategory_name()%></div>
                                <div class="price-container">
                                    <span class="product-old-price">$79.99</span>
                                    <span class="product-price">$<%= p.getProduct_prize() %></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                <% }
            } %>
        </div>
    </div>
</section>
<!-- <div class="col-md-3 col-lg-3 col-xl-3">
    <div class="section-products">
        <% if (!products.isEmpty()) {
            for (ProductBeans p : products) { %>
                <div class="single-product">
                    <div class="part-1">
                        <div class="image-container">
                            <img src="<%= request.getContextPath() %>/productImg/<%= p.getProduct_imgUrl() %>" alt="<%= p.getProduct_name() %>">
                        </div>
                        <ul>
                            <li><a href="<%= request.getContextPath() %>/BasketController?action=ADD&id=<%= p.getProduct_id() %>" class="cart-btn"><i class="fas fa-shopping-cart"></i></a></li>
                            <li><a href="#"><i class="fas fa-heart"></i></a></li>
                            <li><a href="#"><i class="fas fa-plus"></i></a></li>
                            <li><a href="<%= request.getContextPath() %>/ProductController?action=DETAILS&id=<%= p.getProduct_id() %>"><i class="fas fa-expand"></i></a></li>
                        </ul>
                    </div>
                    <div class="part-2">
                        <div class="product-name-title"><%= p.getProduct_name() %></div>
                        <div class="product-category-title"><%= p.getCategory_name() %></div>
                        <div class="price-container">
                            <span class="product-old-price">$79.99</span>
                            <span class="product-price">$<%= p.getProduct_prize() %></span>
                        </div>
                    </div>
                </div>
            <% }
        } %>
    </div>
</div> -->