body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-card {
    background-color: white;
    width: 80%;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.header-card h1 {
    margin: 0 0 20px 0;
}

#search-bar {
    width: 60%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.filters {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.filter-btn {
    background-color: #ff9800;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.filter-btn:hover {
    background-color: #fcb242;
}

.orders-container {
    width: 80%;
}

.order-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.order-summary p {
    margin: 0 10px 0 0;
}

.order-summary button {
    background-color: #ff9800;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.order-summary button:hover {
    background-color: #fcb242;
}

.product-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 10px;
}

.product-info p {
    margin: 0;
}

.product-info .status {
    color: green;
    font-weight: bold;
}

.product-info img {
    max-width: 50px;
    border-radius: 8px;
}

.product-info .shipping-info {
    color: #555;
    font-size: 14px;
}
