.component-header-css {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color: black;
    padding: 8px 3px 8px 3px;

  }

  .logo {
    flex: 0 0 auto;
  }

  .logo h1 {
    margin: 0;
    color: black;
    padding-left: 40px;
  }

  .search-container {
    flex-grow: 1;
    margin: 0 20px;
    border-radius: 20px;
  }

  .search-form {
    margin-left: 20px;
    display: flex;
    align-items: center;
  }

  .search-input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background: none;
    background-color: #f2f2f2;
    font-size: 14px;
    color: black;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .search-button {
    padding: 10px 20px;
    border: none;
    background-color: orange;
    color: white;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: background-color 0.3s;
  }

  .search-button:hover {
    background-color: rgb(136, 93, 13);
  }

  .search-button i {
    margin-right: 8px;
    justify-content: flex-end;
  }

  .icons {
    display: flex;
    align-items: center;
    padding-right: 40px;
  }

  .icon-link {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    margin-left: 20px;
  }

  .icon-link i {
    margin-right: 8px;
    font-size: 24px;
  }

  @media screen and (max-width: 768px) {
    .header {
      flex-direction: column;
      align-items: flex-start;
    }

    .search-container {
      margin-top: 20px;
    }

    .search-form {
      margin-left: 0;
    }

    .icons {
      margin-top: 20px;
    }

    .icon-link {
      margin-left: 0;
      margin-right: 20px;
    }
  }

  .user-menu {
    display: none;
    position: fixed;
    top: 60px;
    right: 20px;
    width: 250px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
  }

  .user-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

  .user-menu-header span {
    font-weight: bold;
  }

  .user-menu-header button {
    background-color: black;
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 15px;
    cursor: pointer;
  }

  .user-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .user-menu ul li {
    border-bottom: 1px solid #ddd;
  }

  .user-menu ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
  }

  .user-menu ul li:last-child {
    border-bottom: none;
  }

  .user-menu ul li a:hover {
    background-color: #f0f0f0;
  }

  .dropdown-basket {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    width: 300px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 10px;
    max-height: 400px;
    overflow-y: auto;
  }

  .basket-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

  .basket-item img {
    max-width: 50px;
  }

  .basket-item-info {
    flex-grow: 1;
    padding: 0 10px;
  }

  .basket-item-info h3 {
    margin: 0;
    font-size: 14px;
  }

  .basket-item-info p {
    margin: 5px 0;
  }

  .qty-btn {
    background-color: #f0f0f0;
    border: none;
    padding: 2px 5px;
    margin: 0 5px;
    cursor: pointer;
  }

  .price {
    font-weight: bold;
    color: red;
  }

  .remove-btn,
  .complete-order-btn {
    background-color: orange;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
    border: none;
  }

  .remove-btn:hover,
  .complete-order-btn:hover {
    background-color: darkorange;
  }

  /* Existing styles */
  .dropdown-search-results {
    display: none;
    position: absolute;
    top: 60px;
    width: 85%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-height: 400px;
    overflow-y: auto;

  }

  .dropdown-search-results ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .dropdown-search-results li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: ruby-text;
    color: black;
  }

  .dropdown-search-results li:hover {
    background-color: #f0f0f0;
    color: rgb(43, 43, 43);
    
  }

}